### Intellij ###
.idea/
.idea_modules/
out/
*.iml
*.ipr
*.iws

### SBT ###
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log
